<div class="container">
    <h1>Cree su cuenta INVENT</h1>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Repita su contraseña</mat-label>
            <input matInput >
        </mat-form-field>
    </div>
    <div>
        <button>Crear cuenta</button>
    </div>
    <div>
        <p>Ya tienes cuenta? <a href="">Ingresa aquí</a></p>
    </div>
</div>